html {
    font-family: Open Sans, sans-serif;
}

html {
    background-image: radial-gradient(indianred,#ffe4b2);
}

.image {
    border-style: solid;
}

.page {
    font-weight: bold;
}