html {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(indianred, #ffe4b2);
}

.image {
  border-style: solid;
}

.image:hover {
  box-shadow: 5px 5px 6px rgba(41, 132, 94, 1);
}

.icon {
  border-radius: 5px;
}

.page {
  font-weight: bold;
}
